@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CustomizedGiftShop.Models.Product

<h2>Delete Product</h2>

<p>Are you sure you want to delete this product?</p>

<ul>
    <li><b>Name:</b>@Model.Name</li>
    <li><b>Price:</b>@Model.Price</li>
    <li><b>Category:</b>@Model.Category</li>
    <li><b>Stock:</b>@Model.Stock</li>
    <li><b>Description:</b>@Model.Description</li>
</ul>

<form asp-action="Delete" method="post">

    <input type="hidden" asp-for="ProductId"/>

    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="/Product/Index" class="btn btn-secondary">Cancel</a>
</form>
